<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css">
  <link rel="stylesheet" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:200,300,400);
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

    .snackbar {
      bottom: 1em;
      left: 1em;
      position: fixed;
    }

    .snackbar-text {
      background-color: #212121;
      border-radius: 0.19em;
      color: #FFF;
      display: inherit;
      font-family: 'Roboto';
      font-size: 0.8em;
      font-weight: 200;
      min-width: 15em;
      padding: 1em 2em;
      position: relative;
      text-align: left;
    }

    .FAB {
      position: absolute;
      bottom: 0px;
      right: 60px;
      width: 56px;
    }

    .FAB__action-button,
    .FAB__mini-action-button {
      cursor: pointer;
      position: absolute;
    }


    .FAB__action-button:hover .action-button__icon {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.14), 0 8px 16px rgba(0, 0, 0, 0.28);
    }


    .action-button__icon {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
      background-color: #ff4081;
      border-radius: 50%;
      color: #fff;
      padding: 16px;
    }

    .action-button__text--hide {
      display: none;
    }


    .mini-action-button__icon {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
      background-color: #536DFE;
      border-radius: 50%;
      color: #fff;
      padding: 8px;
    }

    .mini-action-button__icon:hover {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.14), 0 8px 16px rgba(0, 0, 0, 0.28);
    }

    .mini-action-button__text--hide {
      display: none;
    }

    tfoot input {
      width: 100%;
      padding: 3px;
      box-sizing: border-box;
    }

    #btnfloat {
      position: absolute !important;
      bottom: -40vh !important;
    }
  </style>

  <title>EACIIT</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">EACIIT</a>
  </nav>
  <div class="container-fluid">
    <h3 class="mt-3">E-Commerce Banking Report</h3>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Select Company Name (CMGUnmaskedName)" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
      </form>
    <hr>
    <div class="row">
      <div class="col-3">
        <h5>Client Tier:</h5>
        <p id="clientTier"></p>
      </div>
      <div class="col-3">
        <h5>Commercial Stream:</h5>
        <p id="gcpStream"></p>
      </div>
      <div class="col-3">
        <h5>Commercial Business:</h5>
        <p id="gcpBusiness"></p>
      </div>
      <div class="col-3">
        <h5>Business Category:</h5>
        <p id="cmgGlobalBu"></p>
      </div>
      <div class="col-3">
        <h5>Business Segment:</h5>
        <p id="cmgSegmentName"></p>
      </div>
      <div class="col-3">
        <h5>Country:</h5>
        <p id="globalControlPoint"></p>
      </div>
      <div class="col-3">
        <h5>World Region:</h5>
        <p id="worldRegion"></p>
      </div>
      <div class="col-3">
        <h5>Manager In Contact:</h5>
        <p id="globalRelationshipManagerName"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div id="roe"></div>
      </div>
      <div class="col-3">
        <div id="revenue"></div>
      </div>
      <div class="col-3">
        <div id="totalLimit"></div>
      </div>
      <div class="col-3">
        <div id="companyAverage"></div>
      </div>
    </div>
    <div class="row mt-5 p-2">
      <div class="col-12">
      <h2>ROE Summary Detail</h2>
        <table id="tableFetch" class="display" style="width:100%;">
          <thead>
            <tr>
                <th>ROE_FY14</th> 
                <th>ROE_FY15</th>
                <th>RWAFY15</th>
                <th>RWAFY14</th>
                <th>REVENUE_FY14</th>
                <th>REVENUE_FY15</th>
                <th>TotalLimits_EOP_FY14</th>
                <th>TotalLimits_EOP_FY15</th>
                <th>Company_Avg_Activity_FY14</th>
                <th>Company_Avg_Activity_FY15</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-xl" id="editModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">EDIT <span id="title"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table id="example" class="display" style="width:100%">
            <thead>
              <tr>
                <th>CMGUnmaskedName</th>
                <th>ClientTier</th>
                <th>GCPStream</th>
                <th>GCPBusiness</th>
                <th>CMGGlobalBU</th>
                <th>CMGSegmentName</th>
                <th>GlobalControlPoint</th>
                <th>GCPGeography</th>
                <th>GlobalRelationshipManagerName</th>
                <th>REVENUE_FY14</th>
                <th>REVENUE_FY15</th>
                <th>Deposits_EOP_FY14</th>
                <th>Deposits_EOP_FY15x</th>
                <th>TotalLimits_EOP_FY14</th>
                <th>TotalLimits_EOP_FY15</th>
                <th>TotalLimits_EOP_FY15x</th>
                <th>RWAFY15</th>
                <th>RWAFY14</th>
                <th>REVRWA_FY14</th>
                <th>REVRWA_FY15</th>
                <th>NPAT_AllocEq_FY14</th>
                <th>NPAT_AllocEq_FY15X</th>
                <th>Company_Avg_Activity_FY14</th>
                <th>Company_Avg_Activity_FY15</th>
                <th>ROE_FY14</th>
                <th>ROE_FY15</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th><input type="text" id="CMGUnmaskedName">CMGUnmaskedName</th>
                <th><input type="text" id="ClientTier">ClientTier</th>
                <th><input type="text" id="GCPStream">GCPStream</th>
                <th><input type="text" id="GCPBusiness">GCPBusiness</th>
                <th><input type="text" id="CMGGlobalBU">CMGGlobalBU</th>
                <th><input type="text" id="CMGSegmentName">CMGSegmentName</th>
                <th><input type="text" id="GlobalControlPoint">GlobalControlPoint</th>
                <th><input type="text" id="GCPGeography">GCPGeography</th>
                <th><input type="text" id="GlobalRelationshipManagerName">GlobalRelationshipManagerName</th>
                <th><input type="text" id="REVENUE_FY14">REVENUE_FY14</th>
                <th><input type="text" id="REVENUE_FY15">REVENUE_FY15</th>
                <th><input type="text" id="Deposits_EOP_FY14">Deposits_EOP_FY14</th>
                <th><input type="text" id="Deposits_EOP_FY15x">Deposits_EOP_FY15x</th>
                <th><input type="text" id="TotalLimits_EOP_FY14">TotalLimits_EOP_FY14</th>
                <th><input type="text" id="TotalLimits_EOP_FY15">TotalLimits_EOP_FY15</th>
                <th><input type="text" id="TotalLimits_EOP_FY15x">TotalLimits_EOP_FY15x</th>
                <th><input type="text" id="RWAFY15">RWAFY15</th>
                <th><input type="text" id="RWAFY14">RWAFY14</th>
                <th><input type="text" id="REVRWA_FY14">REVRWA_FY14</th>
                <th><input type="text" id="REVRWA_FY15">REVRWA_FY15</th>
                <th><input type="text" id="NPAT_AllocEq_FY14">NPAT_AllocEq_FY14</th>
                <th><input type="text" id="NPAT_AllocEq_FY15X">NPAT_AllocEq_FY15X</th>
                <th><input type="text" id="Company_Avg_Activity_FY14">Company_Avg_Activity_FY14</th>
                <th><input type="text" id="Company_Avg_Activity_FY15">Company_Avg_Activity_FY15</th>
                <th><input type="text" id="ROE_FY14">ROE_FY14</th>
                <th><input type="text" id="ROE_FY15">ROE_FY15</th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="btnSave">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js"></script>
  </script>
  <script type="text/javascript">
    var urlParams = new URLSearchParams(window.location.href);
    $(document).ready(function () {
      var edit = $('#example').DataTable({
        scrollX: true,
        order: false,
        "searching": true,
      });
    })
    $.ajax({
      url: "http://localhost:8000/detailin/M000000000001271",
      method: "GET",
      success: function (res) {
        if (res.data == null) {
          alert('data tidak tersedia');
          window.location.href = "./index.html";
        }
        $("#clientTier").html(`<span class="text-danger">${res.data[0].ClientTier}</span>`);
        $("#gcpStream").html(`<span class="text-danger">${res.data[0].GCPStream}</span>`);
        $("#gcpBusiness").html(`<span class="text-danger">${res.data[0].GCPBusiness}</span>`);
        $("#cmgGlobalBu").html(`<span class="text-danger">${res.data[0].CMGGlobalBU}</span>`);
        $("#cmgSegmentName").html(`<span class="text-danger">${res.data[0].CMGSegmentName}</span>`);
        $("#globalControlPoint").html(`<span class="text-danger">${res.data[0].GlobalControlPoint}</span>`);
        $("#worldRegion").html(`<span class="text-danger">${res.data[0].GlobalControlPoint}</span>`);
        $("#globalRelationshipManagerName").html(`<span class="text-danger">${res.data[0].GlobalRelationshipManagerName}</span>`);
      }
    })

    var table = $('#tableFetch').DataTable({
      searching: false,
      ajax: "http://localhost:8000/detailin/M000000000001271" ,
      dataSrc: "data",
      columns: [
        {
          data: "ROE_FY14"
        },
        {
          data: "ROE_FY15"
        },
        {
          data: "RWAFY15"
        },
        {
          data: "RWAFY14"
        },
        {
          data: "REVENUE_FY14"
        },
        {
          data: "REVENUE_FY15"
        },
        {
          data: "TotalLimits_EOP_FY14"
        },
        {
          data: "TotalLimits_EOP_FY15"
        },
        {
          data: "Company_Avg_Activity_FY14"
        },
        {
          data: "Company_Avg_Activity_FY15"
        },
      ],
   
      scrollX: false, 
    });
   
    $('#tableFetch tfoot th').each(function () {
      var title = $(this).text();
      $(this).html('<input type="text" placeholder="Search ' + title + '" />');
    });
    table.columns().every(function () {
      var that = this;

      $('input', this.footer()).on('keyup change clear', function () {
        if (that.search() !== this.value) {
          that
            .search(this.value)
            .draw();
        }
      });
    });
  
    $('#tableFetch tbody').on('click', 'td.sorting_1', function () {
      var data = table.row($(this).parents('tr')).data();
      $("#editModal").modal();
      $("#editModal #title").html(
        `${data.CMGUnmaskedName} - <span class="text-danger">${data.CMGSegmentName}</span>`);
      $("#editModal #CMGUnmaskedName").val(data.CMGUnmaskedName);
      $("#editModal #ClientTier").val(data.ClientTier);
      $("#editModal #GCPStream").val(data.GCPStream);
      $("#editModal #GCPBusiness").val(data.GCPBusiness);
      $("#editModal #CMGGlobalBU").val(data.CMGGlobalBU);
      $("#editModal #CMGSegmentName").val(data.CMGSegmentName);
      $("#editModal #GlobalControlPoint").val(data.GlobalControlPoint);
      $("#editModal #GCPGeography").val(data.GCPGeography);
      $("#editModal #GlobalRelationshipManagerName").val(data.GlobalRelationshipManagerName);
      $("#editModal #REVENUE_FY14").val(data.REVENUE_FY14);
      $("#editModal #REVENUE_FY15").val(data.REVENUE_FY15);
      $("#editModal #Deposits_EOP_FY14").val(data.Deposits_EOP_FY14);
      $("#editModal #Deposits_EOP_FY15x").val(data.Deposits_EOP_FY15x);
      $("#editModal #TotalLimits_EOP_FY14").val(data.TotalLimits_EOP_FY14);
      $("#editModal #TotalLimits_EOP_FY15").val(data.TotalLimits_EOP_FY15);
      $("#editModal #TotalLimits_EOP_FY15x").val(data.TotalLimits_EOP_FY15x);
      $("#editModal #RWAFY15").val(data.RWAFY15);
      $("#editModal #RWAFY14").val(data.RWAFY14);
      $("#editModal #REVRWA_FY14").val(data.REVRWA_FY14);
      $("#editModal #REVRWA_FY15").val(data.REVRWA_FY15);
      $("#editModal #NPAT_AllocEq_FY14").val(data.NPAT_AllocEq_FY14);
      $("#editModal #NPAT_AllocEq_FY15X").val(data.NPAT_AllocEq_FY15X);
      $("#editModal #Company_Avg_Activity_FY14").val(data.Company_Avg_Activity_FY14);
      $("#editModal #Company_Avg_Activity_FY15").val(data.Company_Avg_Activity_FY15);
      $("#editModal #ROE_FY14").val(data.ROE_FY14);
      $("#editModal #ROE_FY15").val(data.ROE_FY15);
    });
   
    $('#tableFetch tbody').on('mouseover', 'td.sorting_1', function () {
      $(this).css('color', 'red');
      $(this).css('cursor', 'pointer');
      $(this).css('text-decoration', 'underline');
    });
   
    $('#tableFetch tbody').on('mouseleave', 'td.sorting_1', function () {
      $(this).css('color', 'black');
      $(this).css('text-decoration', 'none');
    });
  
    $("#editModal #btnSave").click(function (e) {
      e.preventDefault();
      var fd = new FormData();
      fd.append("CMGUnmaskedID", urlParams.get('id'));
      fd.append("CMGUnmaskedName", $("#editModal #CMGUnmaskedName").val());
      fd.append("ClientTier", $("#editModal #ClientTier").val());
      fd.append("GCPStream", $("#editModal #GCPStream").val());
      fd.append("GCPBusiness", $("#editModal #GCPBusiness").val());
      fd.append("CMGGlobalBU", $("#editModal #CMGGlobalBU").val());
      fd.append("CMGSegmentName", $("#editModal #CMGSegmentName").val());
      fd.append("GlobalControlPoint", $("#editModal #GlobalControlPoint").val());
      fd.append("GCPGeography", $("#editModal #GCPGeography").val());
      fd.append("GlobalRelationshipManagerName", $("#editModal #GlobalRelationshipManagerName").val());
      fd.append("REVENUE_FY14", $("#editModal #REVENUE_FY14").val());
      fd.append("REVENUE_FY15", $("#editModal #REVENUE_FY15").val());
      fd.append("Deposits_EOP_FY14", $("#editModal #Deposits_EOP_FY14").val());
      fd.append("Deposits_EOP_FY15x", $("#editModal #Deposits_EOP_FY15x").val());
      fd.append("TotalLimits_EOP_FY14", $("#editModal #TotalLimits_EOP_FY14").val());
      fd.append("TotalLimits_EOP_FY15", $("#editModal #TotalLimits_EOP_FY15").val());
      fd.append("TotalLimits_EOP_FY15x", $("#editModal #TotalLimits_EOP_FY15x").val());
      fd.append("RWAFY15", $("#editModal #RWAFY15").val());
      fd.append("RWAFY14", $("#editModal #RWAFY14").val());
      fd.append("REVRWA_FY14", $("#editModal #REVRWA_FY14").val());
      fd.append("REVRWA_FY15", $("#editModal #REVRWA_FY15").val());
      fd.append("NPAT_AllocEq_FY14", $("#editModal #NPAT_AllocEq_FY14").val());
      fd.append("NPAT_AllocEq_FY15X", $("#editModal #NPAT_AllocEq_FY15X").val());
      fd.append("Company_Avg_Activity_FY14", $("#editModal #Company_Avg_Activity_FY14").val());
      fd.append("Company_Avg_Activity_FY15", $("#editModal #Company_Avg_Activity_FY15").val());
      fd.append("ROE_FY14", $("#editModal #ROE_FY14").val());
      fd.append("ROE_FY15", $("#editModal #ROE_FY15").val());
    
      $.ajax({
        url: "http://localhost:8000/update",
        method: "POST",
        processData: false,
        contentType: false,
        data: fd,
        success: function (res) {
          window.location.reload();
          alert('berhasil update');
        }
      });
    })
   
  </script>
  <!-- chartjs -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script>
    function parseNumberCustom(number_string) {
      var new_number = parseInt(number_string.indexOf(',') >= 3 ? number_string.split(',')[0] : number_string.replace(
        /[^0-9\.]/g, ''));
      console.log('Before==>' + number_string + ', After==>' + new_number);
    }
   
    $.ajax({
      url: "http://localhost:8000/detailin/M000000000001271",
      method: "GET",
      async: true,
      success: function (res) {
        res.data.map(function (data) {
          //diagram lingkaran
          var roe = Highcharts.chart('roe', {
            chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              type: 'pie'
            },
            title: {
              text: 'ROE FY_14 VS FY15'
            },
            xAxis: {
              categories: ['ROE FY 14', 'ROE FY 15']
            },
            yAxis: {
              title: {
                text: 'Fruit eaten'
              }
            },
            series: [{
              name: "Count",
              colorByPoint: true,
              data: [{
                name: 'ROE FY 14',
                y: Math.abs(parseFloat(data.ROE_FY14) / 100.0),
                selected: true
              }, {
                name: 'ROE FY 15',
                y: 100.41,
              }, ]
            }],
            exporting: {
              enabled: true
            }
          });
          //membuat chart kedua
          var RWAFY14 = parseInt((data.RWAFY14).replace(",", "."));
          var RWAFY15 = parseInt((data.RWAFY15).replace(",", "."));
          var REVENUE_FY14 = parseInt((data.REVENUE_FY14).replace(",", "."));
          var REVENUE_FY15 = parseInt((data.REVENUE_FY15).replace(",", "."));
          var revenue = Highcharts.chart('revenue', {
            //type batang
            chart: {
              type: 'column'
            },
            title: {
              text: 'Revenue & RWA FY14 vs RWAFY15'
            },
            xAxis: {
              categories: ['RWA FY14', 'REVENUE FY14', 'RWA FY15', 'REVENUE FY15']
            },
            yAxis: {
              title: {
                text: 'Comparation'
              }
            },
            series: [{
              name: 'Data',
              data: [RWAFY14, RWAFY15, REVENUE_FY14, REVENUE_FY15]
            }]
          });
          //data ketiga
          var TotalLimits_EOP_FY14 = parseInt((data.TotalLimits_EOP_FY14).replace(",", "."));
          var TotalLimits_EOP_FY15 = parseInt((data.TotalLimits_EOP_FY15).replace(",", "."));
          var totalLimit = Highcharts.chart('totalLimit', {
            title: {
              text: 'Total Limit EOP FY14 vs FY15'
            },
            xAxis: {
              categories: ['TotalLimits_EOP_FY14', 'TotalLimits_EOP_FY15']
            },
            yAxis: {
              title: {
                text: 'Comparation'
              }
            },
            series: [{
              name: 'Data',
              data: [TotalLimits_EOP_FY14, TotalLimits_EOP_FY15]
            }]
          });
          // data keempat
          var Company_Avg_Activity_FY14 = parseInt((data.Company_Avg_Activity_FY14).replace(",", "."));
          var Company_Avg_Activity_FY15 = parseInt((data.Company_Avg_Activity_FY15).replace(",", "."));
          var NPAT_AllocEq_FY14 = parseInt((data.NPAT_AllocEq_FY14).replace(",", "."));
          var NPAT_AllocEq_FY15X = parseInt((data.NPAT_AllocEq_FY15X).replace(",", "."));
          var TotalLimits_EOP_FY14 = parseInt((data.TotalLimits_EOP_FY14).replace(",", "."));
          var TotalLimits_EOP_FY15 = parseInt((data.TotalLimits_EOP_FY15).replace(",", "."));
          var Deposits_EOP_FY14 = parseInt((data.Deposits_EOP_FY14).replace(",", "."));
          var Deposits_EOP_FY15x = parseInt((data.Deposits_EOP_FY15x).replace(",", "."));
          var companyAverage = Highcharts.chart('companyAverage', {
            chart: {
              type: 'bar'
            },
            title: {
              text: 'Company Average Activity FY14 vs FY15'
            },
            xAxis: {
              categories: ['Company_Avg_Activity', 'NPAT_AllocEq', 'TotalLimits_EOP', 'Deposits_EOP']
            },
            yAxis: {
              title: {
                text: 'Comparation Data'
              }
            },
            series: [{
              name: 'FY14',
              data: [Company_Avg_Activity_FY14, NPAT_AllocEq_FY14, TotalLimits_EOP_FY14,
                Deposits_EOP_FY14
              ]
            }, {
              name: 'FY15',
              data: [Company_Avg_Activity_FY15, NPAT_AllocEq_FY15X, TotalLimits_EOP_FY15,
                Deposits_EOP_FY15x
              ]
            }]
          });
        })
      }
    })
  </script>
</body>

</html>